[user]
  name = mattgstevens
  email = mattgstevens@gmail.com

[merge]
  defaultToUpstream = true

[core]
  excludesfile = ~/.gitignore_global
  trustctime = false

[push]
  default = current

[color]
  ui = auto
[color "branch"]
  current = white
  local = green
  remote = cyan
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[heroku]
  account = mattgstevens

[hub]
	protocol = ssh

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
