[user]
  name = mattgstevens
  email = mattgstevens@gmail.com

[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
  ff = only
  defaultToUpstream = true

[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true

[core]
  excludesfile = ~/.gitignore_global
  trustctime = false

[push]
  default = current

[color]
  ui = auto
[color "branch"]
  current = white
  local = green
  remote = cyan
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[heroku]
  account = mattgstevens

[hub]
	protocol = https
