# usual suspects
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
tmp/
workspace/

# dev tool histories
.lesshst
.node_repl_history
.yarnrc
.zsh_history

# all dot folders
.*/

# private files
.projectsrc
